<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.title }}</title>
</head>
<body>
    <ul>
        <li>Заголовок: {{ object.title }} </li>
        <li>Цена: {{ object.price }} рублей</li>
        <li>Описание: {{ object.description }} </li>
        <li>Рубрика: {{ object.heading }} </li>
        <li>Тип объявления: {{ object.type }} </li>
        <li>Контактная информация: {{ object.user }} </li>
        <li>Количество просмотров: {{ object.views_count }} </li>
    </ul>
</body>
</html>